@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>Hello! Welcome to my blog. This is a place I have created for people to have discussions on media we love. The only rules are be respectful and don't spam. thank you very much!</p>
