@model PostVM
@{
    ViewData["Title"] = "Create";
}

<h4 class="text-center">Create Post</h4>
<hr />
<div class="row justify-content-center pb-2">
    <div class="col-md-10">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-4 row">
                <label asp-for="Post.Title" class="control-label"></label>
                <div class="col-12">
                    <input asp-for="Post.Title" class="form-control form-control-lg w-100" /> 
                    <span asp-validation-for="Post.Title" class="text-danger"></span>
                </div>
            </div>

            <div class="mb-4 row">
                <label asp-for="Post.Content" class="control-label"></label>
                <div class="col-12">
                    <textarea asp-for="Post.Content" class="form-control form-control-lg w-100" rows="8"></textarea>
                    <span asp-validation-for="Post.Content" class="text-danger"></span>
                </div>
            </div>

            <div class="mb-4 row">
                <label asp-for="Post.ImageUrl" class="control-label"></label>
                <div class="col-12">
                    <input asp-for="Post.ImageUrl" class="form-control form-control-lg w-100" />
                    <span asp-validation-for="Post.ImageUrl" class="text-danger"></span>
                </div>
            </div>

            <div class="mb-4 row">
                <label asp-for="Post.CategoryId" class="control-label"></label>
                <div class="col-12">
                    <select asp-for="Post.CategoryId" class="form-control form-control-lg w-100" asp-items="@Model.Categories">
                        <option value="">--Select Category--</option>
                    </select>
                    <span asp-validation-for="Post.CategoryId" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <button type="submit" class="btn btn-success btn-lg w-100">Create</button>
                </div>
                <div class="col-sm-6">
                    <a asp-controller="Post" asp-action="Index" class="btn btn-light btn-lg w-100">Back To Main List</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage advtemplate ai mentions tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss markdown',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            mergetags_list: [
                { value: 'First.Name', title: 'First Name' },
                { value: 'Email', title: 'Email' },
            ],
            ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant")),
        });
    </script>
    <partial name="_ValidationScriptsPartial" />
}
