html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

textarea {
    resize: vertical;
}

 input.form-control-lg,
 textarea.form-control-lg,
 select.form-control-lg {
        font-size: 1.2rem;
        padding: 1rem;
 }

.custom-navbar .nav-link {
    color: #ffffff; 
}

.position-relative {
    position: relative;
}

.clear-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    font-size: 16px;
    color: #aaa;
    cursor: pointer;
    display: none;
}

#searchBox:not(:placeholder-shown) ~ .clear-btn {
    display: inline;
}

.toast-success {
    background-color: #28a745 !important;
    color: white !important;
}

.toast-error {
    background-color: #dc3545 !important;
    color: white !important;
}

.toast-info {
    background-color: #17a2b8 !important;
    color: white !important;
}

.toast-warning {
    background-color: #ffc107 !important;
    color: black !important;
}


