
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
main {
    flex: 1;
}

textarea {
    resize: vertical;
}

 input.form-control-lg,
 textarea.form-control-lg,
 select.form-control-lg {
        font-size: 1.2rem;
        padding: 1rem;
 }

.custom-navbar .nav-link {
    color: #ffffff; 
}

.position-relative {
    position: relative;
}

.clear-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    font-size: 16px;
    color: #aaa;
    cursor: pointer;
    display: none;
}

#searchBox:not(:placeholder-shown) ~ .clear-btn {
    display: inline;
}

footer {
    border-top: 1px solid #eaeaea;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    margin-top: auto;
}
